{{{html}}}

<aside class="post-upgrade-cta">
    <div class="post-upgrade-cta-content">
        {{#if @member}}
        <h2>This post is for paying subscribers only</h2>
        {{else}}
        <h2>This post is for subscribers only</h2>
        {{/if}}
        <a class="button large primary" href="/signup/">Subscribe now</a>
        <p><small>Already have an account? <a href="/signin/">Sign in</a></small></p>
    </div>
</aside>