<div class="notification notification-subscribe">
    <a class="notification-close" href="javascript:;"></a>
    You've successfully subscribed to {{@site.title}}
</div>

<div class="notification notification-signup">
    <a class="notification-close" href="javascript:;"></a>
    You've signed up to {{@site.title}}
</div>

<div class="notification notification-signin">
    <a class="notification-close" href="javascript:;"></a>
    Welcome back! You've successfully signed in
</div>

<div class="notification notification-checkout">
    <a class="notification-close" href="javascript:;"></a>
    Success! You now have full access to {{@site.title}}!
</div>