<nav class="site-nav">
    <div class="site-nav-left">
        {{> "site-logo"}}
        <div class="site-nav-content">
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
            {{#is "post"}}
                <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
            {{/is}}
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @member}}
            {{@member.email}}
            <a class="button primary signout-button" href="#signout" data-members-signout>Log out</a>
        {{else}}
            <a class="signin-link" href="/signin/">Log in</a>
            <a class="button primary subscribe-button" href="#subscribe">Subscribe</a>
        {{/if}}
    </div>
</nav>
