{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-signin outer">
    <div class="inner">

    {{#if @member}}

        {{!-- Logged in: Redirect home --}}
        <script>window.location = '{{@site.url}}';</script>

    {{else}}

        {{!-- Not logged in: Signin form --}}
        <form class="signin-form" data-members-form="signin">
            <h1 class="signin-title">Welcome back!</h1>
            <p>Sign into your account again for full access</p>
            <div class="signin-box">
                <input data-members-email type="email" placeholder="Your email address" required="true" autocomplete="false" />
                <button class="button primary" type="submit">
                    <span class="button-content">Send login link</span>
                    <span class="button-loader">{{> "icons/loader"}}</span>
                </button>
            </div>
            <p><small>Don't have an account yet? <a href="{{@site.url}}/signup/">Sign up</a></small></p>
            <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to complete signin</div>
            <div class="message-error">Please enter a valid email address!</div>
        </form>

    {{/if}}

    </div>
</main>
