name: Test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '22' ]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: yarn
      - run: gulp build
      - run: gulp zip
      - run: yarn test:ci
